.App {
  text-align: center;
  height: 500px;
  width: 500px;
  background-image: url(./images/18th.png);
  background-size: 80%;
  background-repeat: no-repeat;
  position: relative;
}

#message {
  position: absolute;
  left: 50%;
}